header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  }

  .header-bar{
    width: 100%;
    /* height: 100px; */
    /* height: 5%; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    /* background-color: #ca5656; */
    color: #ffffff83;
    /* padding: 1rem; */
    text-align: center;
    justify-content: space-between;
    min-height: 36px;
  }

  .title-bar{
    width: 100%;
    display: flex;
  }

 .header-exit-activity {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .header-exit-activity:hover {
    color: #FFFFFF;
  }


  .logo {
    /* width: 100px; */
    height: 100%;
    /* width: 3vh; */
    /* aspect-ratio: 1/1; */
    /* width: 100%; */
    cursor: pointer; /* indicates clickable */
  }


  .header-title{
    /* color: #FFFFFF; */
    color: #000000;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: flex;
  }

  .header-guide-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* width: 100%; */
    /* height: 100%; */
  }

  .help-tooltip-image {
    height: 32px;
    width: 32px;
    /* width: 100%; */
    /* height: 100%; */
    /* filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(0%) contrast(100%); */
  }

  .help-tooltip-image:hover {
    filter: invert(100%);
  }

  /* If on desktop */
  @media (min-width: 768px) {
    .header-bar {
      display: flex;
    }
    .logo-mobile {
      display: none;
    }
    .logo-desktop {
      display: flex;
      gap: 2rem;
    }
    .title-bar {
      display: none;
    }
  }

  .header-guide-button-mobile {
    margin-left: 1rem;
  }
